.container{
    width:800;
    display: flex;
    justify-content: space-around;
}
.container form{
    margin-top:50px;
    margin-left:-130px;
}
.actions{
    display: flex;
    justify-content: space-between;
}
.container h1{
    margin-left: -130px;
}